body {
    font-family: 'Poppins', sans-serif;
    margin: 0
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-place {
    width: 50%;
    padding: 2px
}

.half-place img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
}

.top-banner {
    background-image: url(pic/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-Big {
    background-image: url(pic/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}